.open-question-input {
  padding: 14px 3rem 14px 16px !important;
  border-radius: 8px;
  border: 1px solid #bbbcbc;
  transition: 0.3s;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px !important;
  font-weight: 600;
  flex: 1;
  max-width: 100%;
  min-width: 350px;
  box-sizing: border-box;
}

.zip-icon {
  position: absolute;
  top: 27%;
  left: 65%;
}

.zip-address {
  position: absolute;
  font-size: 14px;
  margin: 16px 0px;
  left: 55%;
}

.loading-bar-container {
  position: absolute;
  right: 37%;
  top: 27%;
}

#loading_bar .spinner {
  transform-origin: center;
  animation: spinner-animation 0.75s step-end infinite;
}

@keyframes spinner-animation {
  8.3% {
    transform: rotate(30deg);
  }
  16.6% {
    transform: rotate(60deg);
  }
  25% {
    transform: rotate(90deg);
  }
  33.3% {
    transform: rotate(120deg);
  }
  41.6% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(180deg);
  }
  58.3% {
    transform: rotate(210deg);
  }
  66.6% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(270deg);
  }
  83.3% {
    transform: rotate(300deg);
  }
  91.6% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* added inputs design */
.label-input-column {
  display: flex;
  /* align-items: flex-start; */
  justify-content: center;
  flex-direction: column;
}

.label-input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* max-width: 190px; */
  margin: 8px 0px;
}

.label-input-row .open-question-input {
  margin-left: 10px;
}

/* Dynamic Layout */
.open-question-container {
  display: flex;
  flex-direction: column;
}

.field-group.default {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;
  gap: 2em;
}

.field-group.side-by-side {
  display: flex;
  gap: 1rem;
  max-width: 100%;
  width: 400px;
  justify-content: space-between;
  height: 6em;
}

.stacked .open-question-input {
  min-width: 0;
  width: 400px;
}

.side-by-side .open-question-input {
  min-width: 0;
  width: 190px;
  flex: 1;
}

.side-by-side .label-input-row {
  max-width: 192px;
}

.field-group.stacked {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: space-between;
  height: 10em;
}

p.tcpa {
  width: 400px;
  margin-top: 1em;
}

@media only screen and (max-width: 768px) {
  .form-container #form {
    padding: 1rem;
    width: 100%;
  }

  .open-question-div {
    width: 100%;
  }

  .field-group.side-by-side {
    max-width: 100%;
    width: 100%;
    justify-content: center;
  }

  .side-by-side .open-question-input {
    min-width: 0;
    width: 100%;
  }

  p.tcpa {
    width: 100%;
    margin-top: 1em;
  }

  /*zip code field*/
  .zip-icon {
    top: 24%;
    left: 52%;
  }
}
/* check what it is */
@media only screen and (max-width: 600px) {
  .zip-icon {
    position: absolute;
    top: 24%;
    left: 77%;
    /* right: 73%; */
  }

  .zip-address {
    left: 52%;
  }
  .loading-bar-container {
    position: absolute;
    right: 25%;
    top: 33%;
  }

  .open-question-input {
    min-width: 280px;
  }
}
